
*{
    font-family: 'Roboto', sans-serif;
}

/*
Test--------------------------------------------------------------------------
*/

h1{
    text-align: center;
    position: relative;
    left: 50px;
    top: 100px;
    padding: 5px;
    margin-top: 5px;
    font-size: 300%;
    
}

p.text-justify{
    text-align: center;
    position: relative;
    left: 50px;
    top: 120px;
    padding: 5px;
    margin-top: 5px;
    font-size: 170%;
}

p{
    font-size: 120%;
}

form.container{
    
    position:relative;
    left: -6px;
    top: 10px;
    padding: 5px;
    margin-top: 5px;
    margin: auto;
    width: 200%;

}

div.btn{
    position:relative;
    left: 68px;
    top: 100px;
   
}

button.btn-primary{
    
    background-color: dodgerblue;
    border-color: dodgerblue;
}



button.rv{
    padding: 0.375rem 2rem;
    border-radius: 1.25rem !important;
    color: black;
    background-color: white;
    border-color: red;
}


button.vt{
    padding: 0.375rem 2.2rem;
    border-radius: 1.25rem !important;
    color: black;
    background-color: white;
    border-color: green;
}
.d-grid{
    padding: 1rem;
}


/*
Preguntas---------------------------------------------------------------------
*/


div.accordion{
    
    position:relative;
    left: 53px;
    top: 3px;
    margin: auto;
}

div.accordion-item{
    border-color: dodgerblue;
}

div.to{
    font-size: 140%;
    text-align: justify;
}
button.to{
    font-size: 75%;
}

div.top{
    margin-top: 4rem;
    border: dodgerblue 1px solid !important;
}

/*
Quienes-somos------------------------------------------------------------------
*/


h2{
    text-align: left;
}

div.one{
    position:relative;
    left: 50px;
    top: 100px;
    padding: 5px;
    margin-top: 5px;
    margin: auto;
    width: 200%;
}

div.one{

    border: dodgerblue 1px solid;
    
}

p.lo{
    position: relative;
    left: 10px;
    top: 5px;
    padding: 5px;
    margin-top: 5px;
    text-align: left;
    font-size: 130%;
}


